<div class="hero">
    <div class="content">
        <h1 class="stagger1">Questions And More Questions</h1>
        <div class="meet stagger1">
            <p>Find out more about yourself</p>
        </div>
        <!--svg SCROLL here-->
        <!--
        <svg class="scroll stagger1" width="61" height="113" viewBox="0 0 61 113" fill="none">
          <rect x="2.5" y="2.5" width="56" height="108" rx="28" stroke="white" stroke-width="5" stroke-linecap="round" stroke-linejoin="round"/>
          <circle class="circle" cx="30.5" cy="31.5" r="18.5" fill="white"/>
        </svg>-->
        <div>
            <a class="lets-get-started" routerLink="first">Let's get started</a>
        </div>
    </div>
    <!--svg HERO_DESIGN here-->
    <svg class="hero-design" width="640" height="640" viewBox="0 0 640 640" fill="none">
  <rect class="square-anim" x="320" width="160" height="160" rx="10" fill="#6E00FF"/>
  <rect class="square-anim" x="320" y="320" width="160" height="160" rx="10" fill="#6E00FF"/>
  <rect class="square-anim" opacity="0.3" x="481" y="160" width="160" height="160" rx="10" fill="#6E00FF"/>
  <rect class="square-anim" x="160" y="160" width="160" height="160" rx="10" fill="white"/>
  <rect class="square-anim" x="160" y="480" width="160" height="160" rx="10" fill="white"/>
  <rect class="square-anim" opacity="0.3" y="320" width="160" height="160" rx="10" fill="white"/>
  <circle class="square-anim" cx="400" cy="240" r="80" fill="#FF64CB"/>
  <circle class="square-anim" cx="240" cy="400" r="80" fill="#00E8FF"/>
</svg>
</div>