<div class="container">
    <div class="content">
        <h1>Finalize Your Answers</h1>
        <p>Make sure everything is order.</p>
        <div class="final-answers">
            <p>Name: {{ sample.name }}</p>
            <p>Age: {{ sample.age }}</p>
            <p>Interests: {{ sample.intrests }}</p>
            <p>Hates: {{ sample.hates }}</p>
            <p>Job: {{ sample.job }}</p>
            <p>Favourite Color: {{ sample.color }}</p>
            <p>Gender: {{ sample.gender }}</p>
            <p>Finds the Survey super cool: {{ sample.like }}</p>
        </div>
        <a class="lets-get-started" routerLink="/">Submit</a>
    </div>
</div>