<div class="container">
    <div class="content">
        <h1>Finalize Your Answers</h1>
        <p>Make sure everything is order.</p>
        <div class="final-answers">
            <p>Name: {{ data.currentName$$ | async }}</p>
            <p>Age: {{ data.currentAge$$ | async }}</p>
            <p>Interests: {{ data.currentInterests$$ | async }}</p>
            <p>Hates: {{ data.currentHate$$ | async }}</p>
            <p>Job: {{ data.currentJob$$ | async }}</p>
            <p>Favourite Color: {{ data.currentFav$$ | async }}</p>
            <p>Gender: {{ data.currentGender$$ | async }}</p>
            <p>Finds the Survey super cool: {{ data.currentLike$$ | async }}</p>

            <p>Store data {{ answers$ | async | json}}</p>
        </div>
        <a class="lets-get-started" routerLink="/">Submit</a>
    </div>
</div>